@charset "UTF-8";

body {
    background-color: rgb(128, 172, 249);
}

header{
    color: white;
    text-align: center;
}

section{
   background-color: white;
   padding: 10px;
   border-radius: 10px;
   width: 500px;
   height: 300px;
   margin: auto;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.538);
   
}

div{

}

footer{
    color: white;
    text-align: center;
}